<h1>Our pizzas! Tasty and delicious</h1>
<ul>
    {% for i in pizza %}
        <li>
            <a href="{{ p.name_slug }}">{{p.name}}</a>
        </li>
        <div>
            <mark>Ingridiento</mark>
        </div>
        <ul>
            {% for j in i.toppings.all %}
                <li>{{ j.name }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% for field in order_form %}
        <div>
            {{ field.label_tag }} {{ field }}
        </div>
        {% if field.help_text %}
            <p class="help">{{field.help_text|safe}}</p>
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                {{errors}}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <input type="submit" class="order" value="place order">
</form>
<button class="more">add more pizza</button>

<script>
    let pizza = document.querySelector('.pizzas')
    let order = document.querySelector('.order')
    let more = document.querySelector('.more')
    let form = document.querySelector('.form')

    more.addEventListener('click', (e) => {
        e.preventDefault()
        p = document.createElement('p')
        l = document.createElement('label')
        l.setAttribute('for', 'id_choice')
        l.textContent = 'Choice:'
        cloned = pizza.cloneNode(true)
        p.append(l)
        p.append(cloned)
        form.insertBefore(p, order)
    })
</script>